<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>

<body>
    <h1>
        Header 1
    </h1>
    <h2>
        Header 2
    </h2>
    <h3>
        Header 3
    </h3>
    <p th:text="${mensaje}"></p>
    <p th:text="${saludo}"></p>

    <div th:if="${personas != null and !personas.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>

            <tr th:each="persona :${personas}">
                <td th:text="${persona.nombre}">Mostrar nombre</td>
                <td th:text="${persona.apellido}">Mostrar apellido</td>
                <td th:text="${persona.email}">Mostrar email</td>
                <td th:text="${persona.telefono}">Mostrar telefono</td>
            </tr>

        </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        <h1>
            Lista vacia.
        </h1>
    </div>
</body>

</html>