<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Personas</title>
</head>

<body>

    <h1>
        Inicio
    </h1>

    <hr>

    <ul>
        <li> <a th:href="@{/listar}">Listar Personas</a> </li> 
        <li> <a th:href="@{/agregar}">Crear Persona</a> </li>
    </ul>

    <hr>
    <br>
    <code>
        Bienvenido a mi pagina demo de Spring Boot! :))
    </code>
    <hr>



</body>

</html>